block deleteModal
  section#deleteModal.modal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Delete this record ?
          button.close(data-dismiss='modal') &times;
        .modal-footer
          form#deleteForm
            button.btn.btn-danger Yes
