block editModal
  section#editModal.modal
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title EDIT
          button.close(data-dismiss='modal') &times;

        .modal-body
          form#editForm(method='POST')
            .form-group
              input.form-control(type='text' name='cashier',placeholder="Cashier")
            .form-group
              input.form-control(type='text', name='category', placeholder="Category")
            .form-group
              input.form-control(type='text', name='product', placeholder="Product")
            .form-group
              input.form-control(type='number', name='price', placeholder='Price')
            input(type='hidden', name='method', value='PATCH')
            button.btn.btn-primary(name='submit', value=1 ) EDIT
